<div class="main-container pt-20 pb-8">
    <div class="card card-compact sm:card-normal mt-4 mb-8 sm:bg-base-200 sm:shadow-xl">
        <div class="card-body">
            <label>Username</label>
            <input type="text" class="input input-bordered w-full mb-4" />
            <label>Password</label>
            <input type="password" class="input input-bordered w-full mb-4" />
            <div
                class="collapse collapse-plus mb-4"
                [ngClass]="isStudyFieldsOpen ? 'collapse-open' : 'collapse-close'"
            >
                <button
                    type="button"
                    class="collapse-title sm:text-lg text-left pl-0"
                    (click)="isStudyFieldsOpen = !isStudyFieldsOpen"
                >
                    Study fields
                </button>
                <div class="collapse-content">
                    <label class="label" *ngFor="let option of filterOptions.studyFields">
                        <span class="label-text sm:text-base">{{ option.displayName }}</span>
                        <input type="checkbox" class="checkbox checkbox-accent" [name]="option.name" />
                    </label>
                </div>
            </div>
            <div
                class="collapse collapse-plus mb-4"
                [ngClass]="isStudyCoursesOpen ? 'collapse-open' : 'collapse-close'"
            >
                <button
                    type="button"
                    class="collapse-title sm:text-lg text-left pl-0"
                    (click)="isStudyCoursesOpen = !isStudyCoursesOpen"
                >
                    Study courses
                </button>
                <div class="collapse-content">
                    <label class="label">
                        <span class="label-text sm:text-base">Advanced web technologies</span>
                        <input type="checkbox" class="checkbox checkbox-accent" />
                    </label>
                    <label class="label">
                        <span class="label-text sm:text-base">Intelligent learning environments</span>
                        <input type="checkbox" class="checkbox checkbox-accent" />
                    </label>
                </div>
            </div>
            <label>Tagline (Describe yourself in a few words)</label>
            <input class="input input-bordered w-full mb-4" />
            <label>Motivation (Provide a description of who you are looking for)</label>
            <textarea class="textarea textarea-bordered w-full mb-4"></textarea>
            <button class="btn btn-primary" type="button">Save</button>
        </div>
    </div>
    <div class="flex justify-end">
        <button (click)="logout()" type="button" class="btn btn-secondary">Logout</button>
    </div>
</div>
