.welcome-section {
    background: url('/assets/images/library.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.2);
}
