<!DOCTYPE html>
<html lang="en" data-theme="cyberpunk">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.0.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="utf-8" />
    <title>BuddymatchFrontend</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <div
      class="min-h-screen flex flex-col items-center justify-center text-base-content"
    >
      <header class="text-center p-10">
        <h1 class="text-5xl font-bold">Welcome to Buddymatch</h1>
        <p class="text-xl mt-5">Find your ideal study mates</p>
      </header>

      <section class="p-10">
        <div class="max-w-xl mx-auto">
          <h2 class="text-3xl font-bold mb-5">Features</h2>
          <ul class="space-y-5">
            <li class="flex flex-col items-center">
              <img
                src="../../assets/images/logo-fitted 2.png"
                alt="Two students studying together"
                class="w-full rounded-md shadow-lg"
              />
              <div class="mt-4 text-center">
                <h3 class="text-2xl">Match by academic interests</h3>
                <p>
                  Find study mates who are working in the same areas as you.
                </p>
              </div>
            </li>
            <li class="flex flex-col items-center">
              <img
                src="/path/to/private_chat.jpg"
                alt="Chat screen on a mobile device"
                class="w-full rounded-md shadow-lg"
              />
              <div class="mt-4 text-center">
                <h3 class="text-2xl">Private chat</h3>
                <p>
                  Connect with your matches through our built-in chat system.
                </p>
              </div>
            </li>
            <li class="flex flex-col items-center">
              <img
                src="/path/to/study_calendar.jpg"
                alt="A calendar with study sessions marked on it"
                class="w-full rounded-md shadow-lg"
              />
              <div class="mt-4 text-center">
                <h3 class="text-2xl">Study calendar</h3>
                <p>Schedule study sessions and follow them with ease.</p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <footer class="text-center p-10 mt-auto">
        <p>© 2023 Buddymatch. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
