<div class="main-container pt-24 flex flex-col">
    <a routerLink="/buddy-match" class="btn w-fit mb-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
        Back
    </a>
    <span class="font-bold mb-4">People who want to connect with you</span>
    <div class="flex overflow-x-auto mb-8">
        <ng-container *ngIf="matches$ | async as matches">
            <ng-container *ngFor="let match$ of matches">
                <ng-container *ngIf="match$ | async as match">
                    <a
                        [routerLink]="['/buddy-match/detail', match._id]"
                        [queryParams]="{ accept: true }"
                        class="flex flex-col items-center mr-4">
                        <div class="avatar placeholder">
                            <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
                                <span class="text-2xl">{{ match.detail.first_name | firstLetter }}</span>
                            </div>
                        </div>
                        <span>{{ match.detail.first_name }} {{ match.detail.second_name }}</span>
                    </a>
                </ng-container>
            </ng-container>
            <span *ngIf="matches.length === 0">No pending requests found</span>
        </ng-container>
    </div>
    <span class="font-bold mb-4">Messages</span>
    <div>
        <ng-container *ngIf="chats$ | async as responseData">
            <ng-container *ngFor="let data of responseData">
                <ng-container *ngIf="data.user$ | async as user">
                    <a class="flex mb-4" [routerLink]="['/buddy-match/chat', data.chat._id]">
                        <div class="avatar placeholder mr-4">
                            <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
                                <span class="text-2xl">{{ user.detail.first_name | firstLetter }}</span>
                            </div>
                        </div>
                        <div class="flex-1 flex flex-col justify-center">
                            <span class="font-bold">{{ user.detail.first_name }} {{ user.detail.second_name }}</span>
                            <span>{{ data.lastMessage }}</span>
                        </div>
                    </a>
                </ng-container>
            </ng-container>
            <span *ngIf="responseData.length === 0">You don't have any chats yet</span>
        </ng-container>
    </div>
</div>