<div
    class="collapse collapse-plus"
    [ngClass]="isStudyFieldsOpen ? 'collapse-open' : 'collapse-close'"
>
    <div
        class="collapse-title sm:text-lg"
        (click)="isStudyFieldsOpen = !isStudyFieldsOpen"
    >
        Study fields
    </div>
    <div class="collapse-content">
        <label class="label">
            <span class="label-text sm:text-base">Komedia</span>
            <input type="checkbox" class="checkbox checkbox-accent" />
        </label>
        <label class="label">
            <span class="label-text sm:text-base">Informatik</span>
            <input type="checkbox" class="checkbox checkbox-accent" />
        </label>        </div>
</div>
<div
    class="collapse collapse-plus"
    [ngClass]="isStudyCoursesOpen ? 'collapse-open' : 'collapse-close'"
>
    <div
        class="collapse-title sm:text-lg"
        (click)="isStudyCoursesOpen = !isStudyCoursesOpen"
    >
        Study courses
    </div>
    <div class="collapse-content">
        <label class="label">
            <span class="label-text sm:text-base">Advanced web technologies</span>
            <input type="checkbox" class="checkbox checkbox-accent" />
        </label>
        <label class="label">
            <span class="label-text sm:text-base">Intelligent learning environments</span>
            <input type="checkbox" class="checkbox checkbox-accent" />
        </label>
    </div>
</div>
<div class="modal-action">
    <button class="btn btn-success sm:text-base">Save</button>
</div>