<div class="main-container h-screen overflow-hidden flex flex-col">
    <div class="pt-24 flex items-center mb-8">
        <a routerLink="/buddy-match/matches" class="btn w-fit mr-8">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
            Back
        </a>
        <div class="avatar placeholder mr-4">
            <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
                <span class="text-2xl">R</span>
            </div>
        </div>
        <span class="font-bold">{{ partnerName }}</span>
    </div>
    <div class="flex-1 overflow-y-auto">
        <div *ngFor="let messageData of messages">
            <div *ngIf="messageData.user !== selfName" class="chat chat-start">
                <div class="chat-bubble">{{ messageData.message }}</div>
            </div>
            <div *ngIf="messageData.user === selfName" class="chat chat-end">
                <div class="chat-bubble">{{ messageData.message }}</div>
            </div>
        </div>
    </div>
    <div class="join flex pb-2">
        <textarea [(ngModel)]="message" class="textarea join-item h-12 max-h-20 flex-1 textarea-bordered"></textarea>
        <button (click)="sendMessage()" class="btn join-item" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
            </svg>
        </button>
    </div>
</div>
