<div class="main-container pt-20 pb-8">
    <div class="card card-compact sm:card-normal mt-4 mb-8 sm:bg-base-200 sm:shadow-xl">
        <form class="card-body">
            <label>Email</label>
            <input
                type="email"
                name="email"
                [(ngModel)]="user.email"
                class="input input-bordered w-full mb-4"
            />
            <label>Password</label>
            <input
                type="password"
                name="password"
                [(ngModel)]="user.password"
                class="input input-bordered w-full mb-4"
            />
            <label>First name</label>
            <input
                type="text"
                name="firstname"
                [(ngModel)]="user.detail.first_name"
                class="input input-bordered w-full mb-4"
            />
            <label>Last name</label>
            <input
                type="text"
                name="secondname"
                [(ngModel)]="user.detail.second_name"
                class="input input-bordered w-full mb-4"
            />
            <label>Study program</label>
            <select name="studyprogram" [(ngModel)]="user.detail.study_program" class="select select-bordered w-full mb-4">
                <option *ngFor="let program of studyPrograms" [value]="program">{{ program }}</option>
            </select>
            <div
                class="collapse collapse-plus mb-4"
                [ngClass]="isStudyCoursesOpen ? 'collapse-open' : 'collapse-close'">
                <button
                    type="button"
                    class="collapse-title sm:text-lg text-left pl-0"
                    (click)="isStudyCoursesOpen = !isStudyCoursesOpen">
                    Courses
                </button>
                <div class="collapse-content">
                    <label class="label" *ngFor="let option of courses">
                        <span class="label-text sm:text-base">{{ option }}</span>
                        <input
                            type="checkbox"
                            class="checkbox checkbox-accent"
                            [name]="option"
                            (input)="updateCourses($event)"
                        />
                    </label>
                </div>
            </div>
            <div
                class="collapse collapse-plus mb-4"
                [ngClass]="isSkillsOpen ? 'collapse-open' : 'collapse-close'">
                <button
                    type="button"
                    class="collapse-title sm:text-lg text-left pl-0"
                    (click)="isSkillsOpen = !isSkillsOpen">
                    Skills
                </button>
                <div class="collapse-content">
                    <label class="label" *ngFor="let option of skills">
                        <span class="label-text sm:text-base">{{ option }}</span>
                        <input
                            type="checkbox"
                            class="checkbox checkbox-accent"
                            [name]="option"
                            (input)="updateSkills($event)"
                        />
                    </label>
                </div>
            </div>
            <label>Tagline (Describe yourself in a few words)</label>
            <input
                type="text"
                name="desc"
                [(ngModel)]="user.detail.desc_short"
                class="input input-bordered w-full mb-4"
            />
            <label>Motivation (Provide a description of what you are looking for in a study buddy)</label>
            <textarea
                name="motivation"
                [(ngModel)]="user.detail.motivation"
                class="textarea textarea-bordered w-full mb-4">
            </textarea>
            <button
                class="btn btn-primary"
                (click)="tryRegister()">
                Register
            </button>
            <span *ngIf="error" class="text-error">Registering failed, please check, that you filled in all fields!</span>
        </form>
    </div>
    <div class="flex justify-end items-center">
        <span class="mr-2">Already have an account?</span>
        <a routerLink="/buddy-match/login" class="btn btn-neutral">Login here!</a>
    </div>
</div>
