<div class="main-container pt-20 pb-8">
    <div class="card card-compact sm:card-normal mt-4 mb-8 sm:bg-base-200 sm:shadow-xl">
        <form class="card-body">
            <label>Username</label>
            <input
                [(ngModel)]="email"
                type="email"
                name="email"
                required
                class="input input-bordered w-full mb-4"
            />
            <label>Password</label>
            <input
                [(ngModel)]="password"
                type="password"
                name="password"
                required
                class="input input-bordered w-full mb-4"
            />
            <button (click)="tryLogin()" class="btn btn-primary">Login</button>
            <span *ngIf="error" class="text-error text-sm">Email or password could not be found, please try again!</span>
        </form>
    </div>
    <div class="flex justify-end items-center">
        <span class="mr-2">Don't have an account yet?</span>
        <a routerLink="/buddy-match/register" class="btn btn-neutral">Register here!</a>
    </div>
</div>