<div class="main-container pt-24 flex flex-col">
    <a routerLink="/buddy-match" class="btn w-fit mb-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
        Back
    </a>
    <span class="font-bold mb-4">People who liked you</span>
    <div class="flex overflow-x-auto mb-8">
        <a routerLink="/buddy-match" class="flex flex-col items-center mr-4">
            <div class="avatar placeholder">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
                    <span class="text-2xl">R</span>
                </div>
            </div>
            <span>Robert</span>
        </a>
        <a routerLink="/buddy-match" class="flex flex-col items-center mr-4">
            <div class="avatar placeholder">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
                    <span class="text-2xl">L</span>
                </div>
            </div>
            <span>Arnold</span>
        </a>
    </div>
    <span class="font-bold mb-4">Messages</span>
    <div>
        <a class="flex mb-4">
            <div class="avatar placeholder mr-4">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
                    <span class="text-2xl">R</span>
                </div>
            </div>
            <div class="flex-1 flex flex-col justify-center">
                <span class="font-bold">Robert Sauter</span>
                <span>Moooooooooooooooooooooin</span>
            </div>
        </a>
        <a class="flex mb-4">
            <div class="avatar placeholder mr-4">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
                    <span class="text-2xl">L</span>
                </div>
            </div>
            <div class="flex-1 flex flex-col justify-center">
                <span class="font-bold">Arnold Schwarzenegger</span>
                <span>Servus</span>
            </div>
        </a>
    </div>
</div>